#find-dog-btn{
  margin-top: 0px;
  margin-bottom: 25px;
}
.title {
  font-family: 'Sofia', cursive;
  font-size: 48px;
}
#pawbutton {
  font-size: 50px;
  color: brown;
}
#communitybutton {
  font-size:50px;
  color: goldenrod;
}
#connectionbutton {
  font-size:50px;
  color: steelblue;
}
.carousel-caption {
  position: absolute;
  top: -25px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  font-size: 30px;
}
#websiteguide {
  margin-bottom: 35px;
  background-color: moccasin;
  justify-content: center;
}


#adoptionshelterusecase {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Shadows Into Light';
  justify-content: center;
}
#eventsusecase {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Shadows Into Light';
  justify-content: center;
}
.carousel-caption-description {
  font-size:20px;
  font-weight: bold;
}