html, body {
  	width: 100%;
  	height: 100%;
  	background-color: linen;
	}
	li {
        list-style-type: none;
      }
    #profile-container {
    	padding-left: 200px;
    	padding-right:200px;
    	padding-bottom: 25px;
    	background-color:linen;
    	text-align: center;
    }
    .profile-card {
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
    	border-radius: 25px;
    	width: 300px;
    	text-align: center;
    	background-color:brown;
    	padding-top: 25px;
    }
    .profile-headers {
    	width: 300px;
    	font-size: 30px;
    	font-family: 'Shadows Into Light';
    	text-align: center;
    }
	.profile-top {
		width: 300px;
		color: goldenrod;
	}
	.profile-basic-info {
		width: 300px;
		margin-left: 15px;
		text-align: left;
		text-align: left;
		color: white;
	}
	.basic-info {
		margin-left: 15px;
	}

	.events-container {
	  	grid-template-columns: 300px;
      	grid-auto-rows: 200px;
      	grid-gap: 50px;
		border-radius: 25px;
		padding: 10px;
		text-align: center;
		max-height: 500px;
		width: 400px;
		overflow: auto;
	}
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 275px;
		border-radius: 25px;
		background-color: moccasin;
		margin: 25px;
	}
	.card:hover {
  		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.card-names {
		font-weight: bold;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.email-modal {
		color:black;
		background-color:white;
	}
	.bookmark {
		border-radius: 25px;
		max-width: 300px;
		max-height: 150px;
	}
	.email-btn {
		width: 350px;
		margin-top: 25px;
	}