ul {
  list-style-type: none;
}
html, body {
  width: 100%;
  height: 100%;
}
.adoption-header {
  text-align:center;
  font-weight: bold;
  font-family:'Shadows Into Light';
  font-size: 60px;
  color: white;
}
#map {
  height: 500px;
  width: 30%;
  height: auto;
  /*max-height:100%;*/
  /*max-width: 100%;*/
}
html, body {
  padding: 0;
}
#infowindow {
  text-align:center;
  }
#floating-panel {
  z-index: 5;
  background-color: moccasin;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}


}