<!DOCTYPE html>
<html lang="en">
<head>
  <title>Landing Page of Paws N Reflect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>n
    #find-dog-btn{
      margin-top: 15px;
      margin-bottom: 25px;
    }
    .title {
      font-family: 'Sofia', cursive;
      font-size: 48px;
    }
    .modal-header, h4, .close {
    background-color: #5bc0de;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #5bc0de;
  }

  .#myBtn {
    margin: 100px;
    padding: 100px;

  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Press Paws</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    {% if session.get('user_id',0) != 0 %}
        <ul class="nav navbar-nav navbar-right">   
        <h style="color:#5bc0de;"> Welcome {{session['fname']}}!</h>
        <a class="btn btn-info btn-lg" href="\profile" id="myProfileBtn">Profile</button>
        <a class="btn btn-info btn-lg" href="\logout">Logout</a>
      </ul>
    {% else %}

    <ul class="nav navbar-nav navbar-right">        
      <button type="button" class="btn btn-info btn-lg" id="myLoginBtn">Login</button>
                   <!-- Modal -->
            <div class="modal fade" id="loginModal" role="dialog">
              <div class="modal-dialog">
              
               <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form action="/landing-login" method="POST">
                    {% for i in range(2) %}
                    <div class="form-group">
                      <label for={{login_elements[i]}}><span class="glyphicon glyphicon-user"></span>{{login_titles[i]}}</label>
                      <input type="text" class="form-control" id={{login_elements[i]}} name={{login_elements[i]}} placeholder="Enter {{login_titles[i]}}">
                    </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <p>Forgot <a href="#">Password?</a></p>
                  </div>
                </div>
              </div>
          </div>

        <button type="button" class="btn btn-info btn-lg" id="myRegistrationBtn">Register</button>
                <!-- Modal -->
            <div class="modal fade" id="registerModal" role="dialog">
                    <div class="modal-dialog">    
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header" style="padding:35px 50px;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4> Register</h4>
                              </div>
                              <div class="modal-body" style="padding:40px 50px;">
                                <form action="/landing-registration" method="POST">
                                  {% for i in range(5) %}
                                  <div class="form-group">
                                    <label for={{registration_elements[i]}}>{{registration_titles[i]}}</label>
                                    <input type="text" class="form-control" id={{registration_elements[i]}} name={{registration_elements[i]}} placeholder = "Enter {{registration_titles[i]}}">
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Register </button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                              </div>
                            </div>
                  </div>
              </div>
  </ul>
  {% endif %}
</nav>
  <script>
    $(document).ready(function(){
      $("#myLoginBtn").click(function() {
        $("#loginModal").modal();
      });
    });

    $(document).ready(function(){
      $("#myRegistrationBtn").click(function(){
        $("#registerModal").modal();
      });
    });


    </script>
  <!-- <script src="/static/landing.js"></script> -->

  {% block content %}
  {% endblock %}
  </body>
</html>