<!DOCTYPE html>
<html lang="en">
<head>
  <title>Landing Page of Paws N Reflect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
  <style>
  #navbar {
    background-color: black
  }
  .modal-header, h4, .close {
    background-color: #5bc0de;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #5bc0de;
  }
  #demo-btn {
    padding-right: 10px;
    font-size: 20px;
    color: #5bc0de;
    margin-left: 10px;
  }
  .link{
  padding-left: 0;
  margin-left:15px;
  font-size:15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:20px;
  }

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}

.navbar-brand {
  font-family: 'Shadows Into Light';
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
  </style>

</head>
<body>
  <nav class="navbar navbar-inverse" id=navbar style="margin-bottom:0">
    <div class="container-fluid">
      <div class="navbar-header"> 
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
         </button>
        <div class="navbar-brand" style="position:relative; font-weight: bold; color: moccasin">
          Press Paws <i style="color:white" class="fas fa-paw"></i>
          <i class="fas fa-pause" 
          style="font-size: 0.35em; color:orange; position:absolute; left:83%; top: 63%"></i>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="font-size: 10px" class="link" href="/">Home</a></li>
        <li><a style="font-size: 10px" class="link" href="/search">Adoption Shelters</a></li>
        <li><a style="font-size: 10px" class="link" href="/events-search" width=auto>Community Events</a></li>
      </ul>
    {% if session.get('user_id',0) != 0 %}
      <ul class="nav navbar-nav navbar-right">   
          <li id="nav-right-elements" style="margin-left: 20px">
            <a style="font-size: 10px" style="color:#5bc0de; margin-right: 10px"> Welcome {{session['fname']}}!</a>
          </li>
          {% if session.current_page == '/profile' %}
          <li id="nav-right-elements" class="active">
            <a style="font-size: 10px" href="\profile" id="myProfileBtn"><span class="glyphicon glyphicon-user"></span>Profile</a>
          <li>
          {% else %}
          <li id="nav-right-elements">
            <a style="font-size: 10px" href="\profile" id="myProfileBtn"><span class="glyphicon glyphicon-user"></span>Profile</a>
          </li>
          {% endif %} 
          <li id="nav-right-elements">
            <a style="font-size: 10px" href="\logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
          </li>
          <li id="nav-right-elements">
            <a style="font-size: 10px" id="demo-btn" href='/'><i class="fas fa-user-circle"></i>Demo</a>
          </li>
      </ul>
    </div>
  </nav>
    {% else %}
    <ul class="nav navbar-nav navbar-right"> 
        <li id="nav-right-elements" style="cursor:pointer">
        <a id="myLoginBtn"><span class="glyphicon glyphicon-log-in"></span>Login</a>
        </li>
                   <!-- Modal -->
            <div class="modal fade" id="loginModal" role="dialog">
              <div class="modal-dialog">
              
               <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form action="/landing-login" method="POST">
                    {% for i in range(2) %}
                    <div class="form-group">
                      <label for={{session.login_elements[i]}}>{{session.login_titles[i]}}</label>
                      <input type="text" class="form-control" id={{session.login_elements[i]}} name={{session.login_elements[i]}} placeholder="Enter {{session.login_titles[i]}}">
                    </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-info btn-block"></span> Login</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  </div>
                </div>
              </div>
          </div>
          <li id="nav-right-elements" style="cursor:pointer">
          <a id="myRegistrationBtn"><span class="glyphicon glyphicon-user"></span>Register</a>
          </li>
                <!-- Modal -->
            <div class="modal fade" id="registerModal" role="dialog">
                    <div class="modal-dialog">    
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header" style="padding:35px 50px;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4> Register</h4>
                              </div>
                              <div class="modal-body" style="padding:40px 50px;">
                                <form action="/landing-registration" method="POST">
                                  {% for i in range(5) %}
                                  <div class="form-group">
                                    <label for={{session.registration_elements[i]}}>{{session.registration_titles[i]}}</label>
                                    <input type="text" class="form-control" id={{session.registration_elements[i]}} name={{session.registration_elements[i]}} placeholder = "Enter {{session.registration_titles[i]}}">
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Register </button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                              </div>
                            </div>
                  </div>
              </div>
        <li id="nav-right-elements" style="cursor:pointer">
        <a id="demo-btn" href='/'><i class="fas fa-user-circle"></i>Demo</a>
        </li>

      </div>
  </ul>
</div>
</div>

</nav>

  {% endif %}
  <script>
    $(function(){
      $("#myLoginBtn").click(function() {
        $("#loginModal").modal();
      });
    });

    $(function(){
      $("#myRegistrationBtn").click(function(){
        $("#registerModal").modal();
      });
    });

    $('#demo-btn').click( function() {
      $.post("/landing-login", {'clicked':'yes'});
        alert('Woof!');
    });
    </script>
  <!-- <script src="/static/landing.js"></script> -->

  {% block content %}
  {% endblock %}
  </body>
</html>