<!DOCTYPE html>
<html lang="en">
<head>
  <title>Landing Page of Paws N Reflect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  #navbar {
    background-color: black
  }
  .modal-header, h4, .close {
    background-color: #5bc0de;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #5bc0de;
  }

  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" id=navbar style="margin-bottom:0">
    <div class="container-fluid">
      <div class="navbar-header"> <a class="navbar-brand" href="#">Press Paws</a></div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Adoption Shelters</a></li>
        <li><a href="/events-search">Community Events</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    {% if session.get('user_id',0) != 0 %}
      <ul class="nav navbar-nav navbar-right">   
        <h style="color:#5bc0de;"> Welcome {{session['fname']}}!</h>
        <a class="btn btn-info btn-lg" href="\profile" id="myProfileBtn">Profile</a>
        <a class="btn btn-info btn-lg" href="\logout">Logout</a>
      </ul>
    </div>
  </nav>
    {% else %}

    <ul class="nav navbar-nav navbar-right">        
      <button type="button" class="btn btn-info btn-lg" id="myLoginBtn">Login</button>
                   <!-- Modal -->
            <div class="modal fade" id="loginModal" role="dialog">
              <div class="modal-dialog">
              
               <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form action="/landing-login" method="POST">
                    {% for i in range(2) %}
                    <div class="form-group">
                      <label for={{session.login_elements[i]}}>{{session.login_titles[i]}}</label>
                      <input type="text" class="form-control" id={{session.login_elements[i]}} name={{session.login_elements[i]}} placeholder="Enter {{session.login_titles[i]}}">
                    </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-info btn-block"></span> Login</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  </div>
                </div>
              </div>
          </div>

        <button type="button" class="btn btn-info btn-lg" id="myRegistrationBtn">Register</button>
                <!-- Modal -->
            <div class="modal fade" id="registerModal" role="dialog">
                    <div class="modal-dialog">    
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header" style="padding:35px 50px;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4> Register</h4>
                              </div>
                              <div class="modal-body" style="padding:40px 50px;">
                                <form action="/landing-registration" method="POST">
                                  {% for i in range(5) %}
                                  <div class="form-group">
                                    <label for={{session.registration_elements[i]}}>{{session.registration_titles[i]}}</label>
                                    <input type="text" class="form-control" id={{session.registration_elements[i]}} name={{session.registration_elements[i]}} placeholder = "Enter {{session.registration_titles[i]}}">
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Register </button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                              </div>
                            </div>
                  </div>
              </div>
  </ul>
</div>
</nav>

  {% endif %}
  <script>
    $(function(){
      $("#myLoginBtn").click(function() {
        $("#loginModal").modal();
      });
    });

    $(function(){
      $("#myRegistrationBtn").click(function(){
        $("#registerModal").modal();
      });
    });


    </script>
  <!-- <script src="/static/landing.js"></script> -->

  {% block content %}
  {% endblock %}
  </body>
</html>