{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/events.css">
</head>
<style>
form.eventsearch input[type=text] {
  padding: 10px;
  font-size: 10px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}
form.eventsearch button {
  float: left;
  width: 30%;
  padding: 10px;
  background: #428bca;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}
</style>

<div class="container-fluid" id="events-container">
  <div class="events-header">
    <h1 style="color:white; padding-bottom: 10px" >
      <i style="color:green"class="fas fa-leaf"></i>
      Find dog-friendly events near you and meet others in the community!
      <i style="color:green"class="fas fa-leaf"></i>
    </h1>
    <!-- Search form -->
    <form action="/events-search" method="POST" class="eventsearch" style="font-size: 10px; margin:auto; max-width: 250px">
          <input type="text" name="city" placeholder="San Francisco.." aria-label="Search" class="form-control">
          <button type="submit"><i class="fa fa-search">Search</i></button>
    </form>
  </div>
    <div class="cards-container">
        {% for event in events_list %}
        <div>
          <p style="background-color: brown; color: white; font-weight: bold;
          width: 150px; font-size:15px; font-family: 'Amatic SC', cursive">{{event.event_name}}</p>
          <a href={{event.eventbrite_url}} class="hovertext" id=div{{event.event_id}} style="position: relative; color: brown; font-weight: bold">
            <img class="event-image" id=img{{event.event_id}} src={{event.event_image}} alt="Avatar"
            style="width:150px; height: auto; max-width: 100%">
            <p style="font-size: 8px; color: brown" class="centeredtext" id=text{{event.event_id}}></p>
          </a>
          </br>
          <button style="margin-top: 5px; width:30px; height: auto; max-width: 100%; margin-bottom: 15px; text-align: center" id={{event.event_id}} class="like-btn">
            <i class="fa fa-heart"></i>
          </button>
            {% for line in event.event_address %}
            <p style="font-size: 8px; width: 150px" class="event-details">{{line}}</p> 
            {% endfor %}
            <p style="font-size: 8px" class="event-details">{{event.event_date}}</p>
          </br>
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target=#modal{{event.event_id}} style="font-size: 8px">
                    Share <i class="fas fa-share-square"></i>
          </button>

          <div class="modal fade" id=modal{{event.event_id}} role="dialog">
                    <div class="modal-dialog" id=modaldialog{{event.event_id}}>
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header" style="background-color:#428bca">
                          Share with a friend 
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="share" style="color:black">
                          <form action="/share-event" method="POST">
                          <p style="color:black; background-color:white"></p>
                          <input type="text" name="recipient_email" class="form" placeholder="Recipient email">
                          <input type="hidden" name="event_id" value="{{event.event_id}}">
                          <div style="padding:15px"> <button type="submit" class="btn btn-primary">Invite</button> </div>
                          </form>
                        </div>  
                    </div>

                  </div>
          </div>

        </div>
        {% endfor %}
    </div>
</div>

<script>    

    let ids = 'undefined';
   $.get("/search.json",function (results){
    ids = results.events;
    let likeButtons =  $('.like-btn');
    let eventImages = $('.event-image');
    let hoverTexts = $('.centeredtext');
    let imageDivs = $('.hovertext');

    for (let i = 0; i < likeButtons.length; i++) {
      let button = $(`#${likeButtons[i].id}`);
      let eventImage = $(`#${eventImages[i].id}`);
      let hoverText = $(`#${hoverTexts[i].id}`);
      let imageDiv = $(`#${imageDivs[i].id}`);


      imageDiv.mouseover( function() {
        eventImage.css("opacity",0.5);
        hoverText.html('Click for more details about the event and to register on eventbrite');
        hoverText.css("visibility","visible");
      });

      imageDiv.mouseout( function() {
        eventImage.css("opacity",1);
        hoverText.css("visibility","hidden");
      });

      if (ids) {
        if (ids.includes(button.attr('id'))) {
          button.css("color", "black");
        };
        let inputdata;
        button.click( function() {
          if (button.css("color") === "rgb(0, 0, 0)") {
            inputdata = {'event_id': button.attr('id'), 
                        'database_action': 'remove' };
            console.log(inputdata);
            $.post("/grab-data-from-frontend", inputdata, function(){})
            button.css("color","white");
          } else {
            inputdata = {'event_id': button.attr("id"),
                         'database_action': 'add'};
            $.post("/grab-data-from-frontend", inputdata, function(){})
            button.css("color","black");
          }
        });
      }
      button.click( function() {
        if (ids == null) {
          alert('Please login or create an account to perform that action.')
        }
      })
    }
   })
     
  </script>
{% endblock %}