{% extends 'base.html' %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="/static/landing.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<style>
  .resp-container {
    overflow: hidden;
    padding-top: 63%;
    position: relative;
  }
  .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
  }
  </style>
<!-- Top of Landing Page with Background Video and PressPaws Logo Overlaid -->
<div style="position: relative">
<div class="background-video" style="width: 100%; height: 100%">
  <!-- Background Video -->
  <video style="width:100%" autoplay loop muted>
  <source src="/static/Dog-and-Fly.mp4" type="video/mp4">
  </video>
</div>
</div>

<!-- Div Container for the rest of the landing page design -->
<div class="container-fluid" style="background-color: linen">

<!-- Website use cases and their descriptions -->
<div class="row" id="websiteguide">
    <div class="col-sm-4">
        <h1 style="font-size: 40px; text-align: center">Adopt A Dog <i class="fas fa-paw" id="pawbutton"></i></h1> <br>
        <p style="font-size: 1.5em">Thousands of pets are looking for people. People like you. Find your match today. </p>
    </div>
    <div class="col-sm-4">
        <h1 style="font-size: 40px; text-align: center">Build Community <i class="fas fa-users" id="communitybutton"></i></h1>
        <p style="font-size: 1.5em">Whether or not you own a dog, we'd love for you to be part of our family. Meet other members at dog friendly events near you!</p>
    </div>
    <div class="col-sm-4">
        <h1 style="font-size: 40px; text-align: center">Stay Connected <i class="fas fa-share-alt" id="connectionbutton"></i></h1>        
        <p style="font-size: 1.5em">Build a profile to save your favorite shelters and events. Share likes with friends.</p>
    </div>
</div>

<!-- Portion of landing page that describes that adoption shelter feature: Two column layout: left = boostrap carousel, right = video iframe -->
  <h1 style="margin-bottom: 30px; text-align: center; font-size: 35px; font-family: 'Shadows Into Light';">
     <i style="color:blue" class="fas fa-globe-asia"></i>
     Make a difference in a dog's life. A lifetime of adventure awaits.
     <i style="color:blue" class="fas fa-globe-asia"></i>
  </h1>
<div class="row" id="adoptionshelterusecase">

    <!-- Bootstrap Carousel that describes the benefits of having a dog -->
    <div class="col-sm-6">
      <div class="resp-container">
        <div  style="position: absolute; top: 0; left: 0%" id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

        <!-- Making the background color of the carousel container yellow -->
        <div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img class="center-block" style="height: 100%; width: 100%"
               src="https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jamie-street-804226-unsplash.jpg">
               <div class="carousel-caption">
                <h1 style="font-size: 3vmax"><font color="FFDF00">I bet you didnt know.</font></h1>
                <p class="carousel-caption-description" style="font-size: 1.5vmax"> The best therapist has four legs and fur.</p>
              </div>
            </div>
            <div class="item">
              <img class="center-block" style="height: 100%; width: 100%"
               src="https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=eric-ward-610868-unsplash.jpg">
              <div class="carousel-caption">
                <h1 style="font-size: 3vmax"><font color="FFDF00">Unconditional Love.</font></h1>
                <p class="carousel-caption-description" style="font-size: 1.5vmax">I love you 3000.</p>
              </div>
            </div>
            <div class="item">
              <img class="center-block" style="height: 100%; width: 100%"
               src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=ipet-photo-1316903-unsplash.jpg">
                <div class="carousel-caption">
                <h1 style="font-size: 3vmax"><font color="FFDF00">There's never a dull moment.</font></h1>
                <p class="carousel-caption-description" style="font-size: 1.5vmax"> Oh, squirrel!</p>
              </div>
            </div>
            <div class="item">
              <img class="center-block" style="height: 100%; width: 100%"
               src="https://images.unsplash.com/photo-1489440543286-a69330151c0b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=patrick-hendry-221863-unsplash.jpg">
                <div class="carousel-caption">
                <h1 style="font-size: 3vmax"><font color="FFDF00">Lifelong Companionship.</font></h1>
                <p class="carousel-caption-description" style="font-size: 1.5vmax">I love you, fur-ever!</p>
              </div>
            </div>
         </div>

          <!-- Left and right controls -->
          </div id="controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>

      <!-- Pet Adoption video describing the physical and mental health benefits of pet adoption -->
      <div class="col-sm-6">
        <div class="resp-container">
        <iframe class="resp-iframe" style="height: 100%; width: 100%" src="https://www.youtube.com/embed/gmkxp6Iq3hU" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        </div>

      </div>

      <!-- Button enabling search search for nearby adoption shelters-->
      <div id="find-dog-btn" class="row text-center">
          <a style="font-size:0.75em; margin-top: 50px" class="btn btn-info" href="/search">Find an adoption center!</a>
      </div>
</div>

<!-- Portion of landing page that describes the events feature: Grid layout display sample events -->
<div id="eventsusecase">

  <h1>
    <i style="color:green"class="fas fa-leaf"></i>
    Explore new experiences. Dive into adventure.
    <i style="color:green" class="fas fa-leaf"></i>
  </h1>

  <!-- Grid container of sample nearby dog friendly events -->
  <div class="grid-container" style="font-size: 10vmin">
    {% for event in events %}
    <div>
      <p style="font-size:0.75em; font-family: 'Amatic SC', cursive">{{event.event_name}}</p>
     <a href={{event.eventbrite_url}}><img src={{event.event_image}}
        style="width:250px; height: auto; max-width: 100%"> </a>
   </div>
    {% endfor %}
  </div>

  <!-- Button enabling search for nearby dog-friendly events -->
  <div id="find-dog-events-btn" class="row text-center">
      <a style="font-size:0.75em" class="btn btn-info" href="/events-search">Explore experiences nearby!</a>
  </div>
<div>

<div>
{% endblock %}
