{% extends 'base.html' %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/profile.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<div class="container-fluid" id = "profile-container">
	<!-- Profile Column -->
	<div class="row">
		<div class="col-sm-4">
			<h1 class="profile-headers"> Profile </h1>
			<div class="profile-card">
				<!-- Profile Picture and Random Profile Picture Generator -->
				<div class="profile-top">
					<img style="max-height: 300px; max-width: 300px" id="avatar" src={{user.url}}> </img>
					<p>
						<p style="font-weight:bold">Randomly generate a new avator!</p> 
						<button style="border-radius:5px" id="get-avatar-btn" type="submit"> Generate</button>
					</p>       
				</div>
				<!-- Profile Picture and Random Profile Picture Generator -->
				<div class="profile-basic-info">
					<li> <i class="fas fa-user"></i><label class="basic-info">{{user.fname}} {{user.lname}}</label></li>
					<li> <i class="far fa-envelope"></i><label class="basic-info">{{user.email}}</label></li>
					<li> <i class="fas fa-home"></i><label class="basic-info">{{user.zipcode}}</label></li>
				</div>
			</div>
		</div>

		<!-- Bookmarked Shelters Column -->
		<div class="col-sm-4">
			<h1 class="profile-headers"> Saved Places </h1>
			<div class="events-container">
					{% for place in places %}
					<div class="card">
						<p class="card-names">{{place.place_name}}</p>
						<img class="bookmark" id="avatar" src={{place.place_imURL}}></img>
						<p> {{place.place_address}}</p>
						{% if place.place_website %}
						<p><a href={{place.place_website}}>{{place.place_website}}</a></p>
						{% else %}
						<p><a href={{place.place_website}}>No website listed.</a></p>
						{% endif %}
							{% if place.place_hours %}
								{% for items in place.place_hours %}
									<li>{{items}}</li>
								{% endfor %}
							{% endif %}
					</div>
					{% endfor %}
			</div>

		</div>
		<!-- Bookmarked Events Column -->
		<div class="col-sm-4">
			<h1 class="profile-headers"> Saved Events </h1>
			<div class="events-container">
				{% for event in events %}
				<div class="card">
					<p class="card-names">{{event.event_name}}</p>
					<div> <img class="bookmark" id="avatar" src={{event.event_imURL}}> </img></div>
					<p>{{event.event_address}}</p>
					<p>{{event.event_date}}</p>
					<p><a href={{event.event_website}}>Click here to RSVP on Eventbrite.</a></p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script>
	function showAvatar(evt) {
	    $.get('/profile-change-avatar', function(results) {
	    	$("#avatar").attr("src",results);
	    });
	}
	$('#get-avatar-btn').on('click', showAvatar);
</script>


{% endblock %}
