{% extends 'base.html' %}
{% block content %}


<head>
  <link rel="stylesheet" type="text/css" href="/static/search.css">
</head>
<style>
.PetShopsContainer {
margin-top: 25px;
margin-bottom: 25px;
padding-top: 25px;
padding-bottom: 25px;
display: grid;
grid-template-columns: auto auto;
grid-auto-rows: auto;
overflow: auto;
height: 500px;
background-color: moccasin;
border-radius: 25px;
/*justify-content: center;*/
/*max-height: 100%;*/
/*max-width: 100%;*/
text-align: center;
}
</style>
  <body>
    <div class="container-fluid" style="background-color:linen">
      <div class="row" style="justify-content: center; text-align: center">
        <div class="col-sm-5" style="background-color:brown; text-align: center">
          <h1 class="adoption-header" style="font-size:30px; margin-top: 50px"> Adoption Shelters</h1>
          <p id="floating-panel" 
          style="width: 300px; max-width: 100%; margin-left: auto; margin-right: auto">
            <input id="address" type="textbox" value="New York" style="font-size: 15px width=200px">
            <input id="submit" type="button" value="Search dogs!" style="width:100px; border-radius: 5px; background-color:#428bca; font-size: 15px">
          </p>
          <p style="margin-top: 50px; margin-bottom: 50px"> 
            <ul id="doggy-list" class="PetShopsContainer" style="margin-left:0; padding-left: 0; margin-right: auto; justify-content: space-around">
            </ul>
          </p>
        </div>
        <div class="col-sm-7" id="map" style="padding-top: 35%; margin-top: 150px; left: 7.5%"></div> 
      </div>
  </div>

<script type="text/javascript" src="/static/searchdoggers.js?2"> </script>
  
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&libraries=places&callback=initMap" async defer></script>
  </body>
  <a href="https://icons8.com/icon/81438/checkmark">Checkmark icon by Icons8</a>
  {% endblock %}

</html>
</html>