
<head>
  <link rel="stylesheet" type="text/css" href="/static/search.css">
</head>

{% extends 'base.html' %}
{% block content %}
  <body>
    <div class="container-fluid" style="background-color:linen">
      <div class="row">
        <div class="col-sm-5" style="background-color:brown">
          <h1 class="adoption-header"> Adoption Shelters</h1>
          <ul id="doggy-list" class="PetShopsContainer">  </ul>  
        </div>
        <div id="map"></div>
        <div id="floating-panel">
          <input id="address" type="textbox" value="New York">
          <input id="submit" type="button" value="Search dogs!" style="width:100px">
        </div>
      </div>
  </div>

<script type="text/javascript" src="/static/searchdoggers.js?2"> </script>
  
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TMPIKWxlpfviB-hQI3DUujoDyG3nU6w&libraries=places&callback=initMap" async defer></script>
  </body>
  <a href="https://icons8.com/icon/81438/checkmark">Checkmark icon by Icons8</a>
  {% endblock %}

</html>
</html>